/* Content Section */
.content {
    background: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    border-bottom: 0.25rem solid var(--green);
}

.table-container {
    padding: 0 0.75rem;
    border-radius: 0.75rem;
    background: var(--gray);
}

.content .head {
    border-bottom: 0.05rem solid #bbbbbb;
    padding-bottom: 1rem;
}

.content .head h4 {
    color: #555;
}

.content .fa-solid {
    color: #fff;
}

.box {
    background: #e7e7e7;
    border-radius: 0.75rem;
}

.content .body .row .box .table-responsive {
    height: 150px;
    border-radius: 0.5rem;
}

.content .body .row .box h4 {
    margin: 0;
}

.content .body .ticket-information {
    border-bottom: 0.05rem solid #bbbbbb;
    padding: 1rem;
}
/* Content Section */

@media (max-width: 576px) {
    .content .head h4 {
        font-size: 125% !important;
    }
}
