/* root section */
:root {
    --white: #f5f5f5;
    --green: #25c078;
    --blue: #097ceb;
    --red: #db2f75;
    --darkblue: #2662a9;
    --yellow: #bb9600;
}

body {
    background: #cacaca;
}

a {
    text-decoration: none !important;
}

.text-green {
    color: var(--green) !important;
}

.requesting {
    color: var(--yellow) !important;
}

.approved {
    color: var(--green) !important;
}

.denied {
    color: var(--red) !important;
}
/* root section */

/* navbar section */
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item {
    padding-top: 0.25rem;
}

.nav-item:hover {
    border-bottom: 0.15rem solid var(--green);
}

.nav-item .nav-link {
    color: var(--white) !important;
}

.nav-item:hover .nav-link {
    color: var(--green) !important;
}

.btn {
    border-radius: 0.75rem;
}

.fa-solid {
    color: var(--green);
}
/* navbar section */

/* footer section */
footer {
    width: 100%;
    box-shadow: 0 -0.5vw 1.5vw rgba(0, 0, 0, 0.1);
}

footer .fab {
    font-size: 175%;
}

footer .fa-facebook {
    color: var(--blue);
}

footer .fa-instagram {
    color: var(--red);
}

footer .fa-linkedin {
    color: var(--darkblue);
}

footer .fa-github {
    color: var(--white);
    background: black;
    border-radius: 50%;
}
/* footer section */

@media (max-width: 768px) {
}
