/* Home Section */
.side-navbar {
    background: #ffffff;
    border-radius: 0.5rem;
}

.side-navbar .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-navbar .list li {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
}

.side-navbar .list li a {
    display: block;
    padding: 10px 15px;
    color: #222222;
}

.side-navbar .list li:hover {
    background: #222222;
}

.side-navbar .list li:hover a {
    color: var(--green);
}

/* .side-navbar .list li.active {
    background: #222222;
}

.side-navbar .list li.active a {
    color: var(--green);
} */

.side-navbar .list li.logout:hover {
    background: #dc3545;
}

.side-navbar .list li.logout:hover a {
    color: #ffffff;
}

.side-navbar .list li.logout:hover a i {
    color: #ffffff;
}
/* Home Section */

/* @media Section */
